/* src/app.css */

/* Center the entire app vertically and horizontally */
html, body, #root {
  height: 100%;
}
/* YourComponent.css */

/* Style for the logo with the new class name */
.custom-logo {
  width: 200px; /* Adjust the width as needed for a larger size */
  height: auto; /* Maintain aspect ratio */
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  z-index: 1; /* Ensure the logo appears above other content */
}

/* Other styles for your component */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff; /* Set the background color to pure white */
}

/* Rest of your styles */
.App {
  text-align: center;
}

/* Other styles... */
